$color-java: #ca7819;
$color-javascript: yellow;
$color-typescript: #2b79d3;
$color-csharp: #026d02;
$color-python: #06479c;
$color-html: #a56c03;
$color-css: #4e3675;
$color-c: #555454;
$color-cc: #b852aa;
$color-default: #14ecfc;